body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  /* font-weight: bold; */
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.active{font-weight: bold;}
.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.btn{margin-right: 10px;display: inline-block}

.formDiv {
  box-sizing: border-box;
  position: fixed;
  top: 200px;
  left: calc(50% - 171px);
  width: 342px;
  border: 1px solid #999;
  padding: 20px;
  border-radius: 4px;
}
.item{
  flex-basis:calc(50%);
  margin-bottom: 20px
}
.userinfo-box,.userinfo-btn{
  width: calc(100%);
}
.item-label{width: 70px;display: inline-block;line-height: 30px}
.item-input{width: calc(100% - 70px);box-sizing: border-box;padding: 5px;margin: 0}